.dotts-footer-catalog__arrow_next::after, .dotts-footer-catalog__arrow_prev::after, .breadcrumps__link::after, .catalog__control::after, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page_catalog {
  padding: 0px 5px 120px 5px;
}
.page__header {
  padding: 30px 0px 30px 0px;
}
.page__title {
  color: #141414;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.catalog__control {
  margin: 0px 0px 20px 0px;
  min-width: 370px;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  transform: translate(0px, -150%);
}
.catalog__control::after {
  content: "\e900";
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 10px;
  font-size: 10px;
  transform: translate(0px, -50%);
  color: rgba(0, 0, 0, 0.5);
  font-size: 8px;
  margin: 2px 20px 0px 0px;
}
@media (max-width: 640px) {
  .catalog__control {
    left: 0;
    min-width: 300px;
  }
}
.catalog__body {
  position: relative;
  display: grid;
  gap: 30px;
  grid-template-columns: 375px 1fr;
}
@media (max-width: 1100px) {
  .catalog__body {
    gap: 15px;
  }
}
@media (max-width: 1070px) {
  .catalog__body {
    grid-template-columns: 330px 1fr;
  }
}
@media (max-width: 1040px) {
  .catalog__body {
    grid-template-columns: minmax(300px, 1fr);
    gap: 10px;
  }
}
@media (max-width: 640px) {
  .catalog__body {
    margin: 40px 0px 0px 0px;
  }
}
.catalog__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
}
@media (max-width: 1100px) {
  .catalog__products {
    gap: 10px;
  }
}
.catalog__footer {
  margin: 60px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.products-card {
  position: relative;
}
.products-card__sale {
  position: absolute;
}

.control__form {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-radius: 3px;
  background-color: rgba(241, 241, 241, 0.404);
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  height: 40px;
  padding: 0px 0px 0px 20px;
  width: 100%;
  position: relative;
}

.breadcrumps {
  margin: 25px 0px 0px 0px;
  white-space: nowrap;
  overflow: hidden;
}
.breadcrumps__list {
  display: flex;
}
.breadcrumps__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #141414;
  opacity: 0.5;
  display: flex;
  align-items: center;
  transition: all 0.2s ease 0s;
}
.breadcrumps__link::after {
  content: "\e900";
  transform: rotate(-90deg);
  margin: 0px 10px 0px 8px;
  font-size: 8px;
  color: #141414;
  opacity: 0.5;
}
.breadcrumps__link:hover {
  opacity: 1;
}
.breadcrumps__current {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #E8AA31;
}

.footer-catalog {
  display: flex;
}
.footer-catalog__more {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  line-height: 46px;
  color: #E8AA31;
  padding: 0px 70px;
  border: 2px solid #E8AA31;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}
.footer-catalog__more:hover {
  background-color: #E8AA31;
  color: #fff;
}
.dotts-footer-catalog {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
.dotts-footer-catalog__arrow {
  width: 20px;
  height: 20px;
}
.dotts-footer-catalog__arrow:disabled {
  opacity: 0.3;
}
.dotts-footer-catalog__arrow_prev {
  transform: rotate(90deg);
}
.dotts-footer-catalog__arrow_prev::after {
  content: "\e900";
  font-size: 13px;
  color: #E8AA31;
}
.dotts-footer-catalog__arrow_next {
  transform: rotate(-90deg);
}
.dotts-footer-catalog__arrow_next::after {
  content: "\e900";
  font-size: 13px;
  color: #E8AA31;
}
.dotts-footer-catalog__items {
  display: flex;
  align-items: center;
  gap: 30px;
}
.dotts-footer-catalog__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  width: 34px;
  height: 34px;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dotts-footer-catalog__link._active {
  background-color: #E8AA31;
  color: #fff;
}

.filter-catalog {
  background: #FEFEFE;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.filter-catalog__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 18px 30px;
  background-color: #141414;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.filter-catalog__title::before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  height: 20px;
  width: 20px;
  transform: rotate(-180deg);
  transition: all 0.4s ease 0s;
}
.filter-catalog__title._active::before {
  transform: rotate(0deg);
}
.filter-catalog__price {
  margin: 30px 0px 30px 0px;
  padding: 0px 20px 0px 20px;
}
.price-filter__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #141414;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.price-filter__title::before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  height: 20px;
  width: 20px;
  transform: rotate(-180deg);
  transition: all 0.4s ease 0s;
}
.price-filter__title._active::before {
  transform: rotate(0deg);
}
.price-filter__body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.price-filter__inputs {
  display: flex;
  margin: 30px 0px 20px 0px;
  border: 1px solid #CBCBCB;
  overflow: hidden;
  border-radius: 3px;
}
.price-filter__label {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
}
.price-filter__label:not(:last-child) {
  border-right: 1px solid #CBCBCB;
}
.price-filter__input {
  width: 100%;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #141414;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.price-filter__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  border-radius: 3px;
  color: rgba(20, 20, 20, 0.6705882353);
}
.price-filter__range {
  margin: 25px 0px;
}
.price-filter__button {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #E8AA31;
  border-radius: 7px;
  padding: 8px 30px;
  transition: all 0.2s ease 0s;
  border: 2px solid #E8AA31;
}
.price-filter__button:hover {
  border: 2px solid #E8AA31;
  background-color: #fff;
  color: #E8AA31;
}
.price-filter__button:active {
  opacity: 0.7;
}
.price-filter .noUi-connect {
  background-color: #E8AA31;
}
.price-filter .noUi-target {
  background-color: #b3b3b3;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  height: 2px;
}
.price-filter .noUi-handle {
  border-radius: 100%;
  background-color: #000;
  border: 4px solid #E8AA31;
  box-shadow: none;
  cursor: pointer;
}
.price-filter .noUi-handle::after, .price-filter .noUi-handle::before {
  display: none;
}
.price-filter .noUi-horizontal .noUi-handle {
  width: 23px;
  height: 23px;
  top: -10px;
}
.price-filter .noUi-horizontal .noUi-handle-upper {
  right: 0px;
}

.production-filter__title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 13px 30px;
  background-color: #141414;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.production-filter__title::before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  height: 20px;
  width: 20px;
  transform: rotate(-180deg);
  transition: all 0.4s ease 0s;
}
.production-filter__title._active::before {
  transform: rotate(0deg);
}
.production-filter__body {
  padding: 0px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.production-filter__checkbox {
  width: 100%;
  transition: all 0.2s ease 0s;
}
.production-filter__checkbox:hover {
  background-color: rgba(232, 171, 49, 0.1098039216);
}

.checkbox-production {
  display: flex;
  align-items: center;
}
.checkbox-production__input {
  cursor: pointer;
  width: 22px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: -2px 10px 0px 0px;
  position: relative;
  transition: all 0.2s ease 0s;
}
.checkbox-production__input:hover {
  border: 1px solid rgb(0, 0, 0);
}
.checkbox-production__input:checked {
  border: 1px solid #E8AA31;
}
.checkbox-production__input:checked::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #E8AA31;
  position: absolute;
  top: 50%;
  left: 54%;
  border-radius: 2px;
  transform: translate(-54%, -50%);
}
.checkbox-production__label {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s ease 0s;
  padding: 15px 0px;
}
.checkbox-production__text {
  font-weight: 500;
  font-size: 19px;
  line-height: 20px;
  color: #141414;
  padding: 0px 15px 0px 0px;
}
.checkbox-production__text_small {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #E8AA31;
}
@media (max-width: 1300px) {
  .checkbox-production__text {
    font-size: 16px;
  }
}